@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --purple-bg-color:#6648B1;
}

body {
    background-color: var(--purple-bg-color);
    background-image: url(./img/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.cabecalho {
    width: 100%; 
}

.cabecalho img{
    width: 200px;
    margin: 31px 0px 0px 31px;
}


.container {
    display: flex;
    width: 100%;  
    margin:auto;
    align-items: center;
}

.right-side {
    display: flex;
    width: 40%;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100%;
    margin-top: 5%;
}

.left-side {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.img-left-side{ 
    width: 90%;
    object-fit: cover;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
    width: 90%;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #f0e5e5;
    width: 90%;
}


.top img {
    width: 160px;
    margin-top: 30px;
    margin-left: 30px;
}

footer{ 
    width:100%;
    height: 40px; 
    position: absolute;
    display: flex;
    justify-content: center; 
    color: white; 
    font-family: 'Poppins', sans-serif;
    align-items: center; 
    font-size: 13px;
    position: inherit;
}

footer a{
    color: white;
    text-decoration: none;
}
footer p a:nth-child(1){
    font-style: italic;
}

footer p a:nth-child(2){
    font-weight:600 ;
}

.linkedin{
    width:20px;
    vertical-align: middle;
} 
/*-----------css button----------------*/
.myButton {
    margin-top: 30px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#b342ff;
	font-family:Arial;
	font-size:14px;
	padding:12px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;    
    text-align:center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

 
@media screen and (max-width: 700px) {
    .right-side { 
        width: 90%;
        margin:  0px;
    }

    .left-side {
        width: 88%;
    }

    .container {
        flex-direction: column;
    }

    .img-left-side {
        width: 93%;
        
    }

    h1 {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }

    h4 {
       display: block;
        text-align: center; 
        width: 100%;
        padding: 0px 16px;
        font-size: 14px;
        margin-top: 10px;
    }
    .botao{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    footer{
        position: relative !important;
        width:100%;
        height: 10%;
        color: white; 
        font-family: 'Poppins', sans-serif;
        padding: 0 10px 10px 10px;
        font-size: 14px;
    }
    footer p{
        width: 100%;
        height: 100%;
        text-align:center;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-image: url(./img/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .cabecalho img{
        width: 40%;
    }
}
 